.person {
  display: flex;
  margin: 1rem 0 3rem 0 !important;
}

.intro {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  max-width: 100%;
}

.img__link {
  height: 3rem;
}

.name {
  font-size: 1rem;
  margin: 0;
}

.subtitle {
  margin-top: 0.25rem;
}


